body {
  width: 500px;
  margin: auto;
}
.main {
  position: absolute;
  display: block;
  margin-left: auto;
  margin-right: auto;
  top: 35%;
}

.logo {
  position: absolute;
  left: 150px;
  width: 272px;
  height: 92px;

}

.search {
  position: absolute;
  top: 100px;
  color: 0, 0, 0, .87;
  background-color: transparent;
  height: 34px;
  width: 800%;
  margin-top: 20px;
  margin-bottom: 30px;
  left: 50px;
}

a {
  text-decoration: none;
  color: #222;
}

a:hover {
  text-decoration: underline;
}

ul {
	
}

li {
  padding: 10px;
  display: inline;
}

.l {
  position: absolute;
  top: 20px;
  left: 20px;
}

.r {
  position: absolute;
  top: 20px;
  right: 20px;
}

.bl {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.br {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.s {
   position: absolute;
   left: 150px;
   top: 180px;
}

.s1 {
   position: absolute;
   left: 300px;
   top: 180px;
}

#si {
	background-color: #4285f4;
	color: white;
	border: 1px solid #4285f4;
}